AuthName "Page d'administration protégée"
AuthType Basic
AuthUserFile "C:\wamp64\www\cours_php\projetlist\.htpasswd"
Require valid-user

# RewriteEngine on
# RewriteCond %{REQUEST_URI} !^/index.php$
# RewriteRule .* /index.php [L,R=302]